extends layout

block content
  h1= title
  p Welcome back to #{title} modifed by Sai Prashanth Volete
  button(type="button", class="btn btn-primary btn-sm", onclick='doReduce()'  ) Press Me

  br

  div(class='div-class', id="reduce") Reduce the value
  script.
    var count=20;
    var change=-1;
    function doReduce(){
      count+=change;
      change-=1;
      document.getElementById("reduce").innerHTML="Count " +count+" with change "+ change; 
    }

    


  
